.form-control {
    margin: 0.25rem 0;
}

.form-control label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    display: block;
}

.form-control input {
    margin-bottom: 0.5rem;
    font-weight: bold;
    width: 90%;
    border: 1px solid #ccc;
    line-height: 1.5rem;
    padding: 0 1rem; 
}