.button {
    background-color: rgb(112, 7, 112);
    color: white;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 1px solid rgb(112, 7, 112);
    border-radius: 5px;
}

.button:hover, button:active {
    background-color: rgb(136, 7, 136);
    border-color: rgb(136, 7, 136);
}